<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BaseClass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BaseClass.Properties.Settings>
            <setting name="MBCConnection" serializeAs="String">
                <value>Data Source=10.37.32.49;Initial Catalog=Mbc5;Persist Security Info=True;User ID=MbcUser;Password=3l3phant1;Connect Timeout=5</value>
            </setting>
        </BaseClass.Properties.Settings>
    </applicationSettings>
</configuration>