################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MemoryBook/v15/Server/sqlite3
/BaseClass/bin
/BaseClass/obj
/Core/bin
/Core/obj
/CustomControls/bin
/Mbc5/bin
/CustomControls/obj
/Mbc5/Debug
/Mbc5/obj
/Mbc5/Release
/PitneyBowerApi/bin
/PitneyBowerApi/obj/Debug
/RESTModule/bin
/RESTModule/obj/Debug
/RESTModule/obj/Dev
/RESTModule/obj/Release
/StartUpApp/bin/Debug
/StartUpApp/obj
/BindingModels/bin
/RESTModule/obj/Staging
/BindingModels/obj/Debug
/.vs/MemoryBook/FileContentIndex
/BindingModels/obj/Release
/.vs/MemoryBook/v17
/PitneyBowerApi/obj/Release
/packages
/VertexTax
/.vs/MemoryBook/copilot-chat/43bfe064/sessions
/BindingModels/.vs
/Core/.vs
/MBC5/.vs
/packages
/VertexTax/bin/Debug
/VertexTax/obj/Debug
/.vs/MemoryBook/CopilotIndices/17.14.698.11175/CodeChunks.db
/.vs/MemoryBook/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
/.vs/MemoryBook/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
/.vs/MemoryBook/CopilotIndices/17.14.698.11175/SemanticSymbols.db
/.vs/MemoryBook/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
/.vs/MemoryBook/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
/.vs/MemoryBook/config/applicationhost.config
