# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.vs/MemoryBook/v14/.suo
BaseClass/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
Mbc5/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/MemoryBook/v14/.suo
BaseClass/bin/Debug/BaseClass.dll
*.dll
Mbc5/obj/Debug/Mbc5.csproj.FileListAbsolute.txt
Mbc5/obj/Debug/Mbc5.csproj.FileListAbsolute.txt
*.dll
BaseClass/bin/Debug/BaseClass.dll
*.dll
*.dll
BaseClass/bin/Debug/BaseClass.pdb
*.txt
*.pdb
BaseClass/bin/Debug/BaseClass.dll
*.txt
BaseClass/obj/Debug/BaseClass.dll
*.dll
Mbc5/bin/Debug/BaseClass.pdb
*.pdb
Mbc5/obj/Debug/Mbc5.csprojResolveAssemblyReference.cache
*.pdb
*.suo
*.force
.vs/MemoryBook/v14/.suo
*.exe
*.pdb
BaseClass/bin/Debug/BaseClass.dll
*.dll
.vs/MemoryBook/v14/.suo
BaseClass/bin/Debug/BaseClass.dll
*.dll
BaseClass/bin/Debug/BaseClass.pdb
.vs/MemoryBook/v14/.suo
*.config
*.rsp
*.targets
*.xml
*.resources

*.ide

/.vs/MemoryBook/v15/Server/sqlite3
/.vs/MemoryBook/DesignTimeBuild/.dtbcache
