# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.vs/MemoryBook/v14/.suo
BaseClass/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
Mbc5/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/MemoryBook/v14/.suo
BaseClass/bin/Debug/BaseClass.dll
*.dll
Mbc5/obj/Debug/Mbc5.csproj.FileListAbsolute.txt
Mbc5/obj/Debug/Mbc5.csproj.FileListAbsolute.txt
/.vs/MemoryBook/DesignTimeBuild/.dtbcache
/.vs/MemoryBook/v15/Server/sqlite3
/.vs/MemoryBook/v16/Server/sqlite3
/BaseClass/obj/Release/BaseClass.Properties.Resources.resources
/BaseClass/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Core/bin/Debug/Core.pdb
/Core/bin/Debug/Exceptionless.xml
/Core/bin/Debug/Exceptionless.pdb
/Core/bin/Release/Exceptionless.pdb
/Core/bin/Release/Exceptionless.xml
/Core/obj/Debug/Core.csproj.FileListAbsolute.txt
/Core/obj/Debug/Core.pdb
/Core/bin/Release/Core.pdb
/Core/obj/Release/Core.csproj.FileListAbsolute.txt
/Core/obj/Release/Core.pdb
/Core/packages.config
/CustomControls/bin/Debug/CustomControls.pdb
/CustomControls/bin/Release
/CustomControls/obj/Debug
/CustomControls/obj/Release
/Mbc5/bin
/Mbc5/Debug
/Mbc5/obj
/Mbc5/Release
/packages
/RESTModule/bin
/StartUpApp/bin
/StartUpApp/obj/Debug
/StartUpApp/obj/Release/StartUpApp.SplashForm1.resources
/StartUpApp/obj/Release/StartUpApp.Splash.resources
/StartUpApp/obj/Release/StartUpApp.Properties.Resources.resources
/Setup/Debug/setup.exe
/RESTModule/obj
/RESTModule/app.config
/Mbc5/baseXml3.xml
/Mbc5/baseXml2.xml
/Mbc5/baseXml.xml
/BindingModels/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/BindingModels/bin/BindingModels.dll.config
/BaseClass/bin/Release
/BaseClass/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BaseClass/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
