<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mbc5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <connectionStrings configSource="localConnection.config">
    <!--<add name="Mbc" connectionString="Data Source=192.168.1.101; Initial Catalog=Mbc5; Integrated Security=True;User Id=sa;password=Briggitte1; Connect Timeout=5"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="Mbc5.Properties.Settings.Mbc5ConnectionString" connectionString="Data Source=10.37.32.49;Initial Catalog=Mbc5;Integrated Security=True"
 providerName="System.Data.SqlClient" />-->
    <!--<add name="Mbc5.Properties.Settings.Mbc5ConnectionString" connectionString="Data Source=192.168.1.101;Initial Catalog=Mbc5;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
<!--<applicationSettings>

    <Mbc5.Properties.Settings>
      <setting name="mailPassword" serializeAs="String">
        <value>Briggitte1</value>
      </setting>
      <setting name="fromMail" serializeAs="String">
        <value>randy@woodalldevelopment.com</value>
      </setting>
      <setting name="smtpServer" serializeAs="String">
        <value>smtpout.secureserver.net</value>
      </setting>
      <setting name="mailUserName" serializeAs="String">
        <value>wdalfarm@woodalldevelopment.com</value>
      </setting>
    </Mbc5.Properties.Settings>
  </applicationSettings>-->
  <applicationSettings>
    
    <Mbc5.Properties.Settings>
      <setting name="mailPassword" serializeAs="String">
        <value>authnet</value>
      </setting>
      <setting name="fromMail" serializeAs="String">
        <value>authnet@memorybook.com</value>
      </setting>
      <setting name="smtpServer" serializeAs="String">
        <value>192.168.1.245</value>
      </setting>
      <setting name="mailUserName" serializeAs="String">
        <value>authnet@memorybook.com</value>
      </setting>
    </Mbc5.Properties.Settings>
  </applicationSettings>
  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="Network" from="wdalfarm@woodalldevelopment.com">
        <network host="smtpout.secureserver.net" userName="wdalfarm@woodalldevelopment.com" password="Briggitte1" />
      </smtp>-->
      <smtp deliveryMethod="Network" from="authnet@memorybook.com">
        <network host="192.168.1.245" userName="authnet@memorybook.com" password="authnet" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="Database" name="Database" useTransactions="true" connectionStringName="Mbc" connectionString="Data Source=192.168.1.101;Initial Catalog=Mbc5;Persist Security Info=True;User ID=sa;Password=Briggitte1" keepConnection="true" commandText="insert into dbo.ApplicationLog(TimeStamp,Level,CallSite,Message,Exception,MachineName,UserName) values(@time_stamp, @level, @callsite, @message, @exception, @machinename, @username);">
        <parameter name="@time_stamp" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@exception" layout="${exception:format=tostring}" />
        <parameter name="@machinename" layout="${machinename}" />
        <parameter name="@username" layout="${username}" />
        </target>

      <target name="Mail" xsi:type="Mail" html="true" subject="Error Lifeline Services Portal (LOCAL)" body="${message}" to="errors@spinlifeserv.com" from="errors@spinlifeserv.com" Encoding="UTF-8" smtpUsername="errors@spinlifeserv.com" enableSsl="False" smtpPassword="t6PhAgEf" smtpAuthentication="Basic" smtpServer="mail.spinlifeserv.com" smtpPort="25" />
    </targets>
    <rules>
      
      <logger name="*" levels="Error, Fatal" writeTo="Mail" />
    </rules>
  </nlog>-->
  <exceptionless apiKey="6vbjR6U45biRZf96mwzwZhOgFLZA9smTR5SoQ6N9" />
</configuration>