<connectionStrings>
  <clear />
  <add name="Mbc" connectionString="Data Source=10.37.32.49;Initial Catalog=Mbc5;User Id =MbcUser; password =3l3phant1; Connect Timeout=5"
    providerName="System.Data.SqlClient" />
  <add name="Mbc5.Properties.Settings.Mbc5ConnectionString" connectionString="Data Source=10.37.32.49;Initial Catalog=Mbc5;User Id =MbcUser; password =3l3phant1; Connect Timeout=5"
    providerName="System.Data.SqlClient" />
  <add name="Mbc5.Properties.Settings.Mbc5ConnectionString1" connectionString="Data Source=192.168.1.101;Initial Catalog=Mbc5;Persist Security Info=True;User ID=sa;Connect Timeout=5"
    providerName="System.Data.SqlClient" />
</connectionStrings>